In [1]:
# import graphlab
import graphlab

# load data
sales = graphlab.SFrame('home_data.gl/')

[INFO] 1452732164 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_FILE to /Users/Mario/.graphlab/anaconda/lib/python2.7/site-packages/certifi/cacert.pem
1452732164 : INFO:     (initialize_globals_from_environment:282): Setting configuration variable GRAPHLAB_FILEIO_ALTERNATIVE_SSL_CERT_DIR to
This non-commercial license of GraphLab Create is assigned to mario.ibanez@unf.edu and will expire on January 06, 2017. For commercial licensing options, visit https://dato.com/buy/.

[INFO] Start server at: ipc:///tmp/graphlab_server-10268 - Server binary: /Users/Mario/.graphlab/anaconda/lib/python2.7/site-packages/graphlab/unity_server - Server log: /tmp/graphlab_server_1452732164.log
[INFO] GraphLab Server Version: 1.7.1

In [2]:
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [4]:
sales.groupby('zipcode', {'price':average})

NameError: name 'average' is not defined

In [7]:
zip_agg = sales.groupby('zipcode', operations={'avg_price': graphlab.aggregate.AVG('price')})

In [10]:
zip_agg.sort('avg_price', ascending=False)

Columns:
	zipcode	str
	avg_price	float

Rows: 70

Data:
+---------+---------------+
| zipcode |   avg_price   |
+---------+---------------+
|  98039  |   2160606.6   |
|  98004  | 1355927.09779 |
|  98040  | 1194230.00355 |
|  98112  | 1095499.36803 |
|  98102  | 901258.238095 |
|  98109  | 879623.623853 |
|  98105  | 862825.231441 |
|  98006  | 859684.763052 |
|  98119  |  849448.01087 |
|  98005  | 810164.880952 |
+---------+---------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [9]:
zip_agg

Columns:
	zipcode	str
	avg_price	float

Rows: 70

Data:
+---------+---------------+
| zipcode |   avg_price   |
+---------+---------------+
|  98033  | 803719.532407 |
|  98032  |   251296.24   |
|  98065  | 527961.203226 |
|  98077  | 682774.878788 |
|  98144  | 594547.641399 |
|  98136  | 551688.673004 |
|  98115  |  619900.5506  |
|  98075  | 790576.668524 |
|  98034  | 521652.858716 |
|  98058  | 353608.635165 |
+---------+---------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [11]:
len(sales)

21613

In [15]:
len(sales['sqft_living' > 2000 and 'sqft_living' <= 4000])/float(len(sales))

0.0009716374404293712

In [13]:
2/3

0

In [14]:
long(3)

3L

In [18]:
advanced_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition',
'grade',
'waterfront',
'view',
'sqft_above',
'sqft_basement',
'yr_built',
'yr_renovated',
'lat', 'long',
'sqft_living15',
'sqft_lot15']

In [19]:
advanced_features

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'zipcode',
 'condition',
 'grade',
 'waterfront',
 'view',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [20]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']

In [25]:
small_model = graphlab.linear_regression.create(sales, 'price', my_features, validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 21613
PROGRESS: Number of features          : 6
PROGRESS: Number of unpacked features : 6
PROGRESS: Number of coefficients    : 118
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.045711     | 3814404.803903     | 179532.965726 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [24]:
big_model = graphlab.linear_regression.create(sales, 'price', advanced_features, validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 21613
PROGRESS: Number of features          : 18
PROGRESS: Number of unpacked features : 18
PROGRESS: Number of coefficients    : 130
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.069104     | 3520877.913837     | 152548.588704 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [23]:
len(sales)

21613

In [26]:
print small_model

Class                         : LinearRegression

Schema
------
Number of coefficients        : 118
Number of examples            : 21613
Number of feature columns     : 6
Number of unpacked features   : 6

Hyperparameters
---------------
L1 penalty                    : 0.0
L2 penalty                    : 0.01

Training Summary
----------------
Solver                        : auto
Solver iterations             : 1
Solver status                 : SUCCESS: Optimal solution found.
Training time (sec)           : 0.0645

Settings
--------
Residual sum of squares       : 6.96632070015e+14
Training RMSE                 : 179532.9657

Highest Positive Coefficients
-----------------------------
bathrooms[7.75]               : 3459266.2057
bathrooms[8]                  : 1788909.9049
zipcode[98039]                : 1199708.9871
bathrooms[6]                  : 1040161.7802
bathrooms[6.25]               : 939618.812

Lowest Negative Coefficients
----------------------------
bedrooms[10]                  : -606148.4765
bedrooms[9]                   : -413961.3709
bedrooms[7]                   : -400589.0909
bathrooms[7.5]                : -299542.8194
bedrooms[8]                   : -284717.2584

In [27]:
big_model.training_rmse

152548.58870366783

In [28]:
small_model.training_rmse

179532.96572601216

In [29]:
179532.96572601216-152548.58870366783

26984.377022344328

In [30]:
len(sales['sqft_living' > 2000 and 'sqft_living' <= 4000])

21

In [31]:
sales['sqft_living' > 2000 and 'sqft_living' <= 4000]

{'bathrooms': '1',
 'bedrooms': '3',
 'condition': 3,
 'date': datetime.datetime(2014, 10, 13, 0, 0, tzinfo=GMT +0.0),
 'floors': '1',
 'grade': 7,
 'id': '7129300520',
 'lat': 47.51123398,
 'long': -122.25677536,
 'price': 221900,
 'sqft_above': 1180,
 'sqft_basement': 0,
 'sqft_living': 1180,
 'sqft_living15': 1340.0,
 'sqft_lot': 5650,
 'sqft_lot15': 5650.0,
 'view': 0,
 'waterfront': 0,
 'yr_built': 1955,
 'yr_renovated': 0,
 'zipcode': '98178'}

In [37]:
sales['sqft_living'>1800]

{'bathrooms': '2.25',
 'bedrooms': '3',
 'condition': 3,
 'date': datetime.datetime(2014, 12, 9, 0, 0, tzinfo=GMT +0.0),
 'floors': '2',
 'grade': 7,
 'id': '6414100192',
 'lat': 47.72102274,
 'long': -122.3188624,
 'price': 538000,
 'sqft_above': 2170,
 'sqft_basement': 400,
 'sqft_living': 2570,
 'sqft_living15': 1690.0,
 'sqft_lot': 7242,
 'sqft_lot15': 7639.0,
 'view': 0,
 'waterfront': 0,
 'yr_built': 1951,
 'yr_renovated': 1991,
 'zipcode': '98125'}

In [42]:
len(sales[   sales['sqft_living']>2000 and sales['sqft_living']<=4000    ]     )

20830

In [43]:
len(sales)

21613

In [44]:
big_model.evaluate()

TypeError: evaluate() takes at least 2 arguments (1 given)

In [45]:
big_model.evaluate(sales)

{'max_error': 3520877.913836669, 'rmse': 152548.58870366777}

In [46]:
small_model.evaluate(sales)

{'max_error': 3814404.8039032198, 'rmse': 179532.96572601213}

In [47]:
179532.96572601213-152548.58870366777

26984.377022344357

In [48]:
train_data,test_data = sales.random_split(.8,seed=0)

In [49]:
my_features_model = graphlab.linear_regression.create(train_data,target='price',features=my_features,validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 6
PROGRESS: Number of unpacked features : 6
PROGRESS: Number of coefficients    : 115
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.036246     | 3763208.270523     | 181908.848367 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [50]:
advanced_model = graphlab.linear_regression.create(train_data,target='price',features=advanced_features,validation_set=None)

PROGRESS: Linear regression:
PROGRESS: --------------------------------------------------------
PROGRESS: Number of examples          : 17384
PROGRESS: Number of features          : 18
PROGRESS: Number of unpacked features : 18
PROGRESS: Number of coefficients    : 127
PROGRESS: Starting Newton Method
PROGRESS: --------------------------------------------------------
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: | 1         | 2        | 0.067759     | 3469012.450686     | 154580.940736 |
PROGRESS: +-----------+----------+--------------+--------------------+---------------+
PROGRESS: SUCCESS: Optimal solution found.
PROGRESS:

In [51]:
my_features_model.evaluate(test_data)['rmse']

179542.4333126903

In [52]:
advanced_model.evaluate(test_data)['rmse']

156831.1168021901

In [53]:
179542.4333126903-156831.1168021901

22711.316510500183

In [55]:
sales['id'=='6414100192']

{'bathrooms': '1',
 'bedrooms': '3',
 'condition': 3,
 'date': datetime.datetime(2014, 10, 13, 0, 0, tzinfo=GMT +0.0),
 'floors': '1',
 'grade': 7,
 'id': '7129300520',
 'lat': 47.51123398,
 'long': -122.25677536,
 'price': 221900,
 'sqft_above': 1180,
 'sqft_basement': 0,
 'sqft_living': 1180,
 'sqft_living15': 1340.0,
 'sqft_lot': 5650,
 'sqft_lot15': 5650.0,
 'view': 0,
 'waterfront': 0,
 'yr_built': 1955,
 'yr_renovated': 0,
 'zipcode': '98178'}

In [65]:
sales['sqft_living']<=4000

dtype: int
Rows: 21613
[1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ... ]

In [69]:
len([num for num in sales['sqft_living'] if (num > 2000 and num <= 4000)])/float(len(sales))

0.42187572294452413